<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title th:text="#{email.reset.title}">JHipster password reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>

        <p th:text="#{email.reset.greeting(${user.userName})}">
            Dear
        </p>
        <p th:text="#{email.register.text1}">
            text
        </p>
        <p>
            <a th:with="url=(@{|${url}|})" th:href="${url}">Verify Email</a>
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">Network Notepad Team.</em>
        </p>
    </body>
</html>
